In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
data = pd.read_csv('.\loan_eligibility.csv')

In [4]:
data.head()

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,0,0,0,1,0,5849,0.0,146.412162,360,1,2,1
1,0,1,1,1,0,4583,1508.0,128.000000,360,1,0,0
2,0,1,0,1,1,3000,0.0,66.000000,360,1,2,1
3,0,1,0,0,0,2583,2358.0,120.000000,360,1,2,1
4,0,0,0,1,0,6000,0.0,141.000000,360,1,2,1

In [5]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split

In [6]:
# define the features and target variable
X = data.drop('Loan_Status', axis=1)
y = data['Loan_Status']

# split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# train the model
rfc = RandomForestClassifier()
rfc.fit(X_train, y_train)

# test the model
accuracy = rfc.score(X_test, y_test)
print("Accuracy:", accuracy)

Accuracy: 0.7642276422764228

In [7]:
import pickle

# Save the model to a file using pickle
with open('model.pkl', 'wb') as file:
    pickle.dump(rfc, file)